@import "bootstrap/scss/bootstrap";

.profile-home-container {
    height: 100%;
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.profile-home-content {
    background-color: #EEE;
    flex: 1;
    margin-right: 5%;
    margin-left: 5%;
}

.profile-home-my-lists {
    margin-bottom: 30px;
}
